<div class="card">
    <h4 class="card-header">{{title}}</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" #myForm="ngForm">

            <div class="row">
                <div class="col mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>


                <div class="col mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>

                <div class="col mb-3">
                    <label class="form-label">Phone Number</label>
                    <input type="text" formControlName="phoneNumber" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
                        <div *ngIf="f.phoneNumber.errors.pattern">Enter a Valid phone number</div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Email Id</label>
                <input type="email" formControlName="Email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
                <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                    <div *ngIf="f.Email.errors.required">Email is required</div>
                    <div *ngIf="f.Email.errors.email">Enter a Valid Email</div>
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <button class=" btn btn-dark btn-sm mt-1" (click)="togglePasswordVisibility()">{{ showPassword ? 'Hide'
                    : 'Show' }} Password and Requirements</button>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    <div *ngIf="f.password.errors.pattern">Password must have a lowercase and a uppercase letter, a
                        special character,and a number. </div>
                </div>
            </div>
            <div class="mb-3">
                <button [disabled]="!myForm.form.valid" class="btn btn-primary">
                    <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                    Save
                </button>
                <a routerLink="/users" class="btn btn-link">Cancel</a>
            </div>
        </form>
        <div *ngIf="loading" class="text-center m-5">
            <span class="spinner-border spinner-border-lg align-center"></span>
        </div>