<h1 class="d-flex justify-content-center">Users</h1>
<div class="text-center">
    <a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th class="w-33">First Name</th>
                    <th class="w-33">Last Name</th>
                    <th class="w-33">Username</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.username}}</td>
                    <td style="white-space: nowrap">
                        <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary me-1">Edit</a>
                        <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user"
                            [disabled]="user.isDeleting">
                            <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                            <span *ngIf="!user.isDeleting">Delete</span>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!users">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>